<web-app>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/hello-world</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CalculatorServlet</servlet-name>
        <servlet-class>servlets.CalculatorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CalculatorServlet</servlet-name>
        <url-pattern>/calculator</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyServlets</servlet-name>
        <servlet-class>servlets.MyServlets</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyServlets</servlet-name>
        <url-pattern>/link</url-pattern>
    </servlet-mapping>
</web-app>